

.contact-button {
  background-color: #ED3944;
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.15s ;
  /* margin-left: 160px; */
  margin-top: 30px;
  font-size: 10px;
}
.contact-button:hover {
  opacity: 0.7;
}


@font-face {
  font-family: Foundation-sans-bold;
  src: url(../Foundation-Sans-Font/Demo_Fonts/Fontspring-DEMO-FoundationSans-Bold.otf);
}

@font-face {
  font-family: Foundation-sans-light;
  src: url(../Foundation-Sans-Font/Demo_Fonts/Fontspring-DEMO-FoundationSans-Light.otf);
}

@font-face {
  font-family: Foundation-sans;
  src: url(../Foundation-Sans-FontDemo_Fonts/Fontspring-DEMO-FoundationSans-BoldEX.otf);
}

.award{
  font-size: 20px;
  font-family: Foundation-sans-light;
  /* margin-left: 160px; */
  color: red;

}

.content{
  font-size: 13px;
  font-family: sans-serif;
  /* margin-left: 160px; */
}

.DMA {
  font-family: Foundation-sans-bold ;
  font-size: 41px; 
  /* margin-left: 160px; */

}


.pic1 {
 height: 500px;
 border-radius: 2px;
}

.content_1 {
  align-items: center;
  justify-content: center;
  gap: 24px;
  display: flex;
  margin-top: 20px;
  margin-left: 160px;
  margin-right: 160px;
}
.written-part {
  float: left;
  width: 50%;
  
}
.right-flex {
  float: right;
  width: 50%;
  flex-wrap: wrap;
  /* font-family: marli; */
}

.container-2{
  background-color: #FAFAFA;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 160px;
  margin-right: 100px;
  gap: 11px;
  font-family: sans-serif;
  color: rgb(244, 67,86);
  background-color: #FAFAFA;
}

.row-2 {
  display: grid ;
  grid-template-columns: 30% 50%;
  gap: 40px;
  color: black;
}

.row-2-col-1 {
  font-size: 32px;
  font-family: Foundation-sans-bold;
}
.row-2-col-2 {
  font-size: 13px;
  font-family: sans-serif;
  text-align: left;
}




.cards {
  height: 350px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  margin: 10px;
  flex: 250px 0 0;
  display: flex;
  position: relative;
  margin-left: 0px;
}
.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.cards-wrapper {
  display: flex; 
  transition: ease 0.5s;  
}
.row-3 {
  /* width: 880px;
/*   border: 1px solid black; */
  /* overflow-x: hidden; */
  /* margin: auto; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 20px;
}

.row-4 {
  display: flex;
  justify-content: left;
}

/* .o {
display: flex;
position: relative;
} */

.dot {
  border: none;
  background: rgb(20, 19, 19);
  width: 12px;
  height: 12px;
  margin: 7px;
  border-radius: 6px;
}
.dot:hover {
  background: rgba(0, 0, 0, 0.3);
}


.dot.active {
background: rgb(244, 67,86);
width: 12px;
height: 12px;
border-radius: 6px;
outline-style: solid;
outline-color: rgb(244, 67,86) ;
outline-offset: 5px;
/* opacity: 0; */
}

/* .o img {
position: absolute;
height: 22px;
} */




/* .dot.active img {
height: 22px;
background-color: black;
opacity: 1  ;
} */



/* .red_dot {
display: flex;
position: relative;
}
.red_dot img{
height: 22px;
position: absolute;
/* opacity: 0;   */

.top_image {
position: absolute ;
display: flex;
flex-direction: column;
background-color: rgb(244, 67,86);
width: 100%;
height: 100%;
object-fit: cover;
justify-content: center;
align-items: center;
gap: 18px;
opacity: 0;
transition: all 0.7s ease;
}

.top_image:hover {
opacity: 1;
}

.r1 img{
  width: 50px;
  height: 48px;
}
.r2 {
font-family: Arial, Helvetica, sans-serif;
}


.r3 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 12px;
font-weight: 250;
margin-left: 20px;
margin-right: 20px;
text-align: center;

}
.read_more button {
color: rgb(244, 67,86);
border-radius: 1.5px;
border: none;
background-color: white;
height: 32px;
width: 129px;
margin-top: 22px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: opacity 0.15s ;
gap: 8px;
}

.read_more button:hover {
opacity: 0.85;
}

.read {
font-size: 9px;
font-weight: bold;
}


.right_arrow {
font-size: 20px;
size: 30px;

}


.dot {

}

.dot.active {

}





.container-3 {
  font-family: Foundation-sans-light;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 25px;
}

.container-4{
  display: grid;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  grid-template-columns: 3fr 1fr;
  width: 800px;
}

.project {
  color: red;
  font-weight: 500;
}

.best{
  font-family: Foundation-sans-bold;
  font-size: 30px;
}

.left {
  flex: 1;
  background-color: black;
  position: relative;
  display: flex;
  height: 380px;
  width: 550px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.left .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  align-items: center;
  border-radius: 3px;
  transition: opacity 0.5s ease;
}

.left .hidden {
  opacity: 0;
  visibility: hidden;
}

.right {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  font-family: sans-serif;
  gap: 0.7px;
}

.right_sec {
  height: 33%;
  width: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_button {
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 3px;
  background-color: #eae6e6;
  cursor: pointer;
  text-align: left;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-size: 11px;
  padding: 1rem;
}

.img_button:hover {
  background-color: rgb(245, 169, 169);
}

.heading {
  margin: 0;
  font-size: 15px;
  margin-bottom: 10px;
  /* font-family: ; */
}

.para {
  margin: 0;
  text-align: justify;
  max-width: 85%;

}

.img_button h5,
.img_button p {
  white-space: normal;
}

.container-5 {
  font-family: Foundation-sans-light;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 25px;
  margin-left: 183px;  
  margin-right: 183px;
  margin-bottom: -200px;

}

.container-6 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 14px;
  margin-top: 20px;
  justify-content: center;
  
}

.section {
  display: flex; /* Reverting to block */
  font-family: sans-serif;
  flex-wrap: wrap;
  flex-direction: column;
  /* width:25%; */
}
.icon-1 img {
  height: 56px; /* Set image height */
  margin-bottom: 13px;
}
.heading {
   /* Adjust spacing around heading */
  font-size: 16px;
  font-family:Foundation-sans-light;
  font-weight:800;
}



.content-7 {
  margin-top: 5px; /* Adjust spacing between heading and content */
  font-size: 14px;
  font-weight: 100;
}

.section {
  height: 300px; /* Set section height */
  width: 100%;
}

.container-8 {
  background-color: #FAFAFA;
  height: 400px;
  /* margin-bottom: 100px; */
  margin-top: 100px;

}

.container-7 {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: column;
  gap: 25px;
  margin-left: 100px;  
  margin-right: 100px;
  margin-top: -62px;

}

.section-2 {
  display: flex; /* Reverting to block */
  font-family: sans-serif;
  flex-wrap: wrap;
  flex-direction: column;
  width:180px;
  cursor:pointer;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 180px;
  transition-duration: 0.5s;
  background-color: white;
}

.section-2:hover{

  /* border-style:groove; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.icon-2 img {
  height: 26px;
  margin-bottom: 7    px;;
}

.count {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 39px;
  /* font-weight: 100; */
}

.content-8 {
  font-family: sans-serif ;
  font-size: 14px;
}


.container-7-3 {
  font-family: sans-serif ;
  display: block;
  width: 500px;
  font-size: 15px;
  font-weight: 900;
  margin-bottom: -53px;
}

.quotes {
  height: 100px;
  width: 90px;
  margin-left: -35px;
  margin-bottom: -70px;
  opacity: .25;
}

.content-7-1 {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: -20px;
  margin-bottom: -25px;
}
.footer {
  height: 277px;
  display: flex;
  gap: 75px;
  justify-content: center;
  align-items: center;
}

.footer img {

  height: 41px;
}